/*estilos generales*/

*{
 margin 0px;
 padding: 0px;
  }
  
  body{
    display: flex;
    font-family: jost;
  }
  
  .contenedor{
    width: 1920px;
    margin: 0 auto;
  }
  
  /*header*/

  .header {
    position: fixed;
}

  .header .top-header .top-menu{
    padding: 6px 0px;
    font-size: 18px;
    background: #FD4343;
    overflow: hidden;
  }

  #imagen{
    justify-content: center;
    margin-top: 10;
    height:250px;
}
  
  .header .top-header .top-menu ul li{
    list-style: none;
  }
  
  .header .top-menu ul li a{
    text-decoration: none;
    color: #0000;
    padding: 10px 15px;
    display: inline-block;
  }
  
  
  .header  .top-redes ul li a{
    text-decoration: none;
    color: #747474;
    padding: 10px 15px;
    display: inline-block;
  }
  
  
  .titulo{
    margin: 40px 40px;
    text-align: center;
  }


  .titulo .contenedor img{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
  .titulo .contenedor h1 a{
    text-decoration: none;
    color: #E72F62;
    font-size 100 px;
    display: inline-block;
    padding: 30px 0px;
    font-weight: bold;
  }
  
  .titulo .contenedor h1 a:hover{
    color: #b919c;
  }
  
  .tutulo .contenedor .subtitulo{
    font-size: 50px;
    letter-spacing: 3px;
    color: #c7c7c7;
  }
  
  .menu-principal{
    margin-bottom: 40px;
    border-top: 2px solid #f0f0f0;
    border-bottom: #f0f0f0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 0;
  }
  
  .menu-principal .contenedor ul{
    list-style: none;
    display: inline-block;
    margin: 0 auto;
  }
  
  .menu-principal .contenedor ul li{
    display: inline-block;
  }
  
  .menu-principal .contenedor ul li a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #363940;
  }
  
  
  /*main*/
  
  
  
  /*footer*/
  .footer{
    float;
    width: 100%;
    padding: 30px 0;
    border: 1px solid #15161a;
    margin-bottom: 25px;
    font-size: 26px;
    text-align: center;
    color: #9c9c9c;
    background-color: #15161a; 
}
  