$primary-color:#FD4343;
$text-color: #6b717f;

body {
    background: #4E4E4E;
    color: #fffefe;
    font-family: manrope, san-serif;
  }
  
  *:focus {
    outline: none;
  }
  
  .formulario:first-child div {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  
  .formulario:first-child div fieldset div {
    margin-top: 15px;
  }
  
  .formulario:first-child div fieldset input, .formulario:first-child div fieldset textarea {
    border: 0px  solid;
    border-radius: 5px;
    padding: 6px;
    background: rgba(0, 0, 0, 0.1);
    color:#FD4343;
  }
  
  .formulario:first-child div fieldset input:focus, .formulario:first-child div fieldset textarea:focus {
    background: white;
    color: black;
  }
  
  .formulario:first-child div fieldset .submit {
    text-decoration: none;
    padding: 12px;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    background-color:#FD4343;;
    border-radius: 20px;
    border: 0px solid black;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
  
  .formulario:first-child div fieldset .submit:hover {
    color:#FD4343;
    background-color: #ffffff;
    cursor:pointer;
  }